.blog-detail {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.blog-detail h1 {
  font-size: 2.5em;
  color: #333;
}

.blog-detail h2 {
  font-size: 1.5em;
  color: #666;
}

.blog-image {
  width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 8px;
}

.blog-published-date {
  font-size: 1em;
  color: #999;
  margin-top: 10px;
}

.blog-abstract {
  font-size: 1.2em;
  color: #333;
  margin-top: 10px;
}
